body {
	width: 80%;
	margin: 0 auto;
	font-family: helvetica;
	text-align: center;
}

h1 {
	text-align: center;
}

ul {
	text-align: left;
	padding-left: 100px;
}

img {
	width: 100%;
}

#header {
	width: 100%
}

.indexButton {
	display: inline-block;
	width: 20%;
	margin: 15px;
}