
body {
text-align: center;
margin: auto;
}

header{
	background-color: #000000;
	color: #FFFFFF;
	padding: 30px 20px 20px 30px;
}
h1{
	margin: 0;
}
nav{
	background-color: #708090;
	color: #FFFFFF;
	padding: 20px 0px 20px 0px;
}
a:hover{
	border-bottom: 2px solid transparent;
	border-color: white;
}
a{
	margin: 0px 20px 0px 20px;
	color: #FFFFFF;
}
main{
	width: 850px;
	margin: 35px auto 35px auto;
}
img{
	margin: 40px 8px 0px 8px;
}
footer{
	text-transform: uppercase;
	padding: 0px 20px 20px 0px;
	background-color: #708090;
	color: white;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: .08em;
}
.copyright{
font-family: Raleway;
float: left;
}
.message{
font-family: Raleway;
float:right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name{
	color: #F15B31;
	font-weight: 700;
}